<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Generate merit profiles from tallies, and rank proposals using Majority Judgment.">
    <meta name="keywords" content="merit,poll,vote,majority,judgment,svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ 'AppTitle'|t }}{% endblock %}</title>
    <link rel="icon" sizes="256x256" href="/favicon.png">
{% block style_base %}
    <link rel="stylesheet" media="all" href="/css/style.css">
{% endblock %}
{% block style_extra %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% block footer %}
    <footer>
        <ul class="inline">
            <li>
                <a href="https://mieuxvoter.fr">
                    <img src="img/logo-mieuxvoter.svg" alt="MV" aria-hidden="true" height="10">
                    MieuxVoter
                </a>
            </li>
            <li>&mdash;</li>
            <li>
                <a href="https://app.mieuxvoter.fr">Web App</a>
            </li>
            <li>&mdash;</li>
            <li>
                <a href="https://play.google.com/store/apps/details?id=fr.mieuxvoter.urn">Android App</a>
            </li>
            <li>&mdash;</li>
            <li>
                <a href="https://github.com/MieuxVoter/merit-profile-app"
                   title="Browse the source code and contribute">{{ version }}</a>
            </li>
            <li>&mdash;</li>
            <li>
                &copy;&nbsp;
                <a href="https://github.com/MieuxVoter/merit-profile-app/blob/main/LICENSE">AGPLv3</a>
            </li>
        </ul>
    </footer>
{% endblock %}
</body>
</html>