{% extends "base.html.twig" %}

{% block content %}
    <h1>{{ 'AppTitle'|t }}</h1>

    <form action="merit.svg" method="get">

        <fieldset>
            <label title="If checked, the generated merit profiles will be sorted from highest to lowest.">
                <input type="checkbox" name="mj">
                Rank using Majority Judgment
            </label>
            <br>
            <label title="By default, this tool expects grades amounts from the lowest grade to the highest grade.  If checked, the order of the input grades amounts is reversed.">
                <input type="checkbox" name="h2l">
                Highest Grade on the Left
            </label>
        </fieldset>

        {% for i in 0..placeholderNames|length-1 %}
        <fieldset class="proposal">
            <input type="text" name="n"
                   title="Name of the proposal #{{ i }}"
                   placeholder="{{ placeholderNames[i] }}"
                   maxlength="32">
            <input type="text" name="t" {% if loop.first %}required{% endif %}
                   placeholder="4,12,0,9,5,1,7"
                   pattern="\s*\d+\s*(\s*,\s*\d+\s*)*"
                   title="Tally of the grades received by the proposal #{{ i }}, from lowest (worst) grade to highest (best) grade, separated by commas (,)">
        </fieldset>
        {% endfor %}

        <input type="submit" value="Generate">
    </form>
{% endblock %}
